<head th:fragment="head(titulo, hojaPropia)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="|The Spot - ${titulo}|">The Spot</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" th:href="@{/styles/variables.css}">
    <link rel="stylesheet" th:href="@{/styles/base.css}">
    <link rel="stylesheet" th:href="@{/styles/modal.css}">
    <link rel="stylesheet" th:if="${hojaPropia != null}"
          th:href="@{/styles/{hoja}.css(hoja=${hojaPropia})}">
</head>